Title

Introduction

1.Importing data

In [1]:
# Loaded Libraries

library(tidyverse)
library(repr)
library(tidymodels)
library(caret)
install.packages("expss")
library(expss)
library(ggplot2)
library(GGally)
library("gridExtra")
library(stringi)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

ERROR: Error: package or namespace load failed for ‘tidymodels’ in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 namespace ‘lubridate’ 1.7.10 is already loaded, but >= 1.8.0 is required

In [2]:
bank_link<-"https://docs.google.com/spreadsheets/d/e/2PACX-1vSJVzL4kjpn0J7YFzjTzCLlUKs0gtGThScWLRnezYxMjR5vE5PvwpHKrxJbKQjQ4AVp7QvS-a06yRFZ/pub?output=csv"
bank_data <- read_csv2(bank_link,                    
                        skip=1,
                    col_names = c("age", 
                                         "job", 
                                         "marital", 
                                         "education", 
                                         "default", 
                                         "housing", 
                                         "loan", 
                                         "contact", 
                                         "month", 
                                         "day_of_week", 
                                         "duration", 
                                         "campaign", 
                                         "pdays", 
                                         "poutcome", 
                                         "emp.var.rate", 
                                         "cons.price.idx",
                                          "cons.conf.idx",
                                       "euribor3m",
                                       "nr.employed",
                                         "y"))
head(bank_data)

ℹ Using "','" as decimal and "'.'" as grouping mark. Use `read_delim()` for more control.

Rows: 4119 Columns: 21
── Column specification ────────────────────────────────────────────────────────
Delimiter: ";"
chr (12): job, marital, education, default, housing, loan, contact, month, d...
dbl  (5): age, duration, campaign, pdays, poutcome

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age job         marital education         default housing loan    contact
1 30  blue-collar married basic.9y          no      yes     no      cellular
2 39  services    single  high.school       no      no      no      telephone
3 25  services    married high.school       no      yes     no      telephone
4 38  services    married basic.9y          no      unknown unknown telephone
5 47  admin.      married university.degree no      yes     no      cellular
6 32  services    single  university.degree no      no      no      cellular
  month day_of_week ⋯ campaign pdays poutcome emp.var.rate cons.price.idx
1 may   fri         ⋯ 2        999   0        nonexistent  -18
2 may   fri         ⋯ 4        999   0        nonexistent   11
3 jun   wed         ⋯ 1        999   0        nonexistent   14
4 jun   fri         ⋯ 3        999   0        nonexistent   14
5 nov   mon         ⋯ 1        999   0        nonexistent   -1
6 sep   thu         ⋯ 3        999   2        failure      -11
  cons.conf.idx euribor3m nr.employed y     X21
1 92893         -462      1.313       50991 no
2 93994         -364      4.855        5191 no
3 94465         -418      4.962       52281 no
4 94465         -418      4.959       52281 no
5   932          -42      4.191       51958 no
6 94199         -375      0.884       49636 no

In [3]:
#select the data that we need
bank_data1.0<-select(bank_data,duration,euribor3m)
head(bank_data1.0)

  duration euribor3m
1 487      -462
2 346      -364
3 227      -418
4  17      -418
5  58       -42
6 128      -375

In [13]:
install.packages("expss")

library(expss)

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [ ]:
summary(bank_data$duration)

In [10]:
summary_data <- apply_labels(bank_data1.0,
                             duration= "Duration",
                            euribor3m = "Euribor 3 month rate")
                             
summary_table <- summary_data %>%
                 tab_cells(duration, euribor3m) %>%
                 tab_cols(total(label = "Summary Statistics"))  %>%
                 tab_stat_fun(Max = w_max, Min = w_min, Mean = w_mean, "Median" = w_median, "Standand Deviation " = w_sd, method = list) %>%
                tab_pivot()
summary_table

 |                      | Summary Statistics |      |        |        |                     |
 |                      |                Max |  Min |   Mean | Median | Standand Deviation  |
 | -------------------- | ------------------ | ---- | ------ | ------ | ------------------- |
 |             Duration |               3643 |    0 |  256.8 |    181 |               254.7 |
 | Euribor 3 month rate |                -33 | -508 | -363.3 |   -398 |               121.8 |

Preliminary Results

Methods

Reference